body {
    margin: 0;
    padding:0
}

#div-header {
    height: 50px;
    background-color: whitesmoke;
    line-height: 50px; 
}

#div-main {
    display: flex;
    flex-direction: row;
    width:100%;
}
#div-left {
    width: 20%;
    height: auto;
    background-color: #3eb0c0; /*background-color: #e5d0e0;*/
    font-family: Arial;
    font-size: 10px;
}

#div-right {
    width: 80%;
    height: auto;
    background-color: cornsilk;
}


#div-footer {
    height: auto;
    background-color: burlywood;
    bottom: 0px;
    text-align: center;
    left: 50%;
    padding-top: 25px;
}
